{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
  <title>CatApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <img src="{{ .URL }}" alt="Cat Image" style="width:50%;"> 
</body>
</html>
{{ end }}